node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.lsp
.clj-kondo
.calva
.shadow-cljs
app
BAK__*
src/gen/**

.storybook/storybook.requires.js